.nav-bar {
    max-width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

button {
    width: auto;
    height: auto;
 }
 
 button #Countries {
    background: url('../client/img/countryIcon.jpg') no-repeat;
 }

 .scroll{
    display: flex;
    
 }

.head{
    background-image: url();
}

.page-btn{
    color: blue;
    border: none;
    margin: 5px;
}

.page-active{
    background-color: gray;
}

.jatekosKartya{
    width: 217px;
    height: 217px;
}

.gradient-custom{
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}
