.nav-bar {
    max-width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

.page-btn{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    width: 50px;
    text-align: center;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: gray 5px solid;
    
    border: none;
    text-decoration: none;
}

.page-active{
    color: rgb(105, 105, 105);
}

.jatekosKartya{
    width: 217px;
    height: 217px;
}

.gradient-custom{
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.betu{
    font-weight: bold;
    color:  linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-style:oblique;

    text-shadow: 0 0 3px #FFA500;
}
